redis==5.2.1
jupyter==1.1.1
numpy==2.1.2
pandas==2.3.0
matplotlib==3.10.1
scipy==1.15.2
scikit-learn==1.6.1
tqdm==4.67.1
g2p_en==2.1.0
h5py==3.13.0
omegaconf==2.3.0
editdistance==0.8.1
-e .
huggingface-hub==0.33.1
transformers==4.53.0
tokenizers==0.21.2
accelerate==1.8.1
bitsandbytes==0.46.0
